<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.1.1" targetFramework="net45" />
  <package id="CacheStack" version="1.0.9" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="Dapper" version="1.25" targetFramework="net45" />
  <package id="Google.GData.Analytics" version="2.2.0.0" targetFramework="net45" />
  <package id="Google.GData.Client" version="2.2.0.0" targetFramework="net45" />
  <package id="Google.GData.Extensions" version="2.2.0.0" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.1.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.1.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.1.2" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.6" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.18" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="MiniProfiler" version="3.1" targetFramework="net45" />
  <package id="Moq" version="4.2.1312.1622" targetFramework="net45" />
  <package id="MvcContrib.Mvc3.TestHelper-ci" version="3.0.100.0" targetFramework="net45" />
  <package id="MvcKickstart" version="1.2.48" targetFramework="net45" />
  <package id="NBuilder" version="3.0.1.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.0.8" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net45" />
  <package id="PublicBroadcasting" version="1.0.12" targetFramework="net45" />
  <package id="RavenDB.Client" version="2.0.2230" targetFramework="net45" />
  <package id="RavenDB.Database" version="2.0.2230" targetFramework="net45" />
  <package id="RavenDB.Embedded" version="2.0.2230" targetFramework="net45" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net45" />
  <package id="ServiceStack.Common" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.Logging.Log4Net" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.58" targetFramework="net45" />
  <package id="Should" version="1.1.20" targetFramework="net45" />
  <package id="ShouldFluent" version="1.1.19" targetFramework="net45" />
  <package id="Sigil" version="4.2.1" targetFramework="net45" />
  <package id="Spruce" version="1.1.15" targetFramework="net45" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net45" />
  <package id="WebActivatorEx" version="2.0.4" targetFramework="net45" />
</packages>