@model Index

@{
	Bundles.AddPageData("Url", new
	{
		widgetsAnalytics = Url.Admin().Widgets().Analytics()
	});
}

<div class="row">
	<div class="span9 offset1">

		<div id="AnalyticsSummaryWidget" class="well widget">
			<h4>Analytics Summary</h4>
			<div class="content">
				<small>Loading...</small>
			</div>
		</div>

	</div>
</div>
