<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<section name="cassette" type="Cassette.CassetteConfigurationSection, Cassette" requirePermission="false" />
	</configSections>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />

		<add key="Site:Title" value="KickstartTemplate" />
		<!--
		<add key="Analytics:Id" value="UA-xxxxxxxx-x" />
		<add key="Analytics:Domain" value="auto" />
		<add key="Analytics:TagManagerId" value="GTM-xxxx" />
		-->
		<!-- Used for emails -->
		<add key="BaseUrl" value="http://localhost:15324" />
		<add key="Email:Support" value="notset@localhost.com" />
		<!-- Optionally send internal application metrics to statsd -->
		<add key="Metrics:Host" value="" />
		<add key="Metrics:Port" value="8125" />
		<add key="Metrics:Prefix" value="KickstartTemplate.Dev." />
	</appSettings>
	<connectionStrings>
		<add name="Default" connectionString="Server=(local);Database=KickstartTemplate;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<cassette rewriteHtml="false" cacheDirectory="App_Data\Cassette" />
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime maxRequestLength="2147483647" />
		<customErrors defaultRedirect="~/Error" mode="RemoteOnly" />
		<caching>
			<outputCache enableOutputCache="false" />
		</caching>
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />

				<add namespace="KickstartTemplate.Infrastructure" />
				<add namespace="KickstartTemplate.Infrastructure.Extensions" />
				<add namespace="MvcKickstart.Infrastructure" />
				<add namespace="MvcKickstart.Infrastructure.Extensions" />

				<add namespace="Cassette.Views" />
			</namespaces>
		</pages>
		<httpModules>
			<remove name="CassetteHttpModule" />
			<remove name="UrlRoutingModule-4.0" />
			<remove name="Log4NetContextInformationModule" />
			<add name="UrlRoutingModule-4.0" type="MvcKickstart.Infrastructure.Modules.ProfiledUrlRoutingModule, MvcKickstart" />
			<add name="Log4NetContextInformationModule" type="MvcKickstart.Infrastructure.Modules.Log4NetContextInformationModule, MvcKickstart" />

			<add name="CassetteHttpModule" type="Cassette.Aspnet.CassetteHttpModule, Cassette.Aspnet" />
		</httpModules>

		<authentication mode="Forms">
			<forms name="KickstartTemplate" loginUrl="~/Account/Login" timeout="60000" slidingExpiration="true" />
		</authentication>
		<machineKey compatibilityMode="Framework45" validationKey="EF696329DA5C2C5EBD477D7B17ACA2C6C98E9318B099C9832DEAE9107972E2B0744968006719B49D1ADCC010D5D6F9CC7F47877457ACA7165D8AA01DB662E461" decryptionKey="4F569BC6886EA083CC48F5BD677D35D9575A8B6013187A6985209E3B7B62F103" validation="SHA1" decryption="AES" />
		<httpHandlers>
			<add path="cassette.axd" verb="*" type="Cassette.Aspnet.CassetteHttpHandler, Cassette.Aspnet" />
		</httpHandlers>
	</system.web>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host="localhost" port="25" defaultCredentials="false" />
			</smtp>
		</mailSettings>
	</system.net>
	<system.webServer>
		<httpErrors errorMode="Custom" existingResponse="Auto">
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" path="/Invalid-Page" responseMode="ExecuteURL" />
		</httpErrors>
		<validation validateIntegratedModeConfiguration="false" />
		<urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="true" />
		<staticContent>
			<remove fileExtension=".js" />
			<mimeMap fileExtension=".js" mimeType="text/javascript" />
			<remove fileExtension=".flv" />
			<mimeMap fileExtension=".flv" mimeType="video/x-flv" />
			<remove fileExtension=".mp4" />
			<mimeMap fileExtension=".mp4" mimeType="video/mp4" />
			<remove fileExtension=".m4v" />
			<mimeMap fileExtension=".m4v" mimeType="video/m4v" />
			<remove fileExtension=".ogg" />
			<mimeMap fileExtension=".ogg" mimeType="application/ogg" />
			<remove fileExtension=".ogv" />
			<mimeMap fileExtension=".ogv" mimeType="video/ogg" />
			<remove fileExtension=".webm" />
			<mimeMap fileExtension=".webm" mimeType="video/webm" />
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
			<remove fileExtension=".ttf" />
			<mimeMap fileExtension=".ttf" mimeType="font/ttf" />
			<remove fileExtension=".eot" />
			<mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
			<remove fileExtension=".svg" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
		</staticContent>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2147483647" />
			</requestFiltering>
		</security>
		<modules>
			<remove name="CassetteHttpModule" />
			<remove name="UrlRoutingModule-4.0" />
			<remove name="Log4NetContextInformationModule" />
			<add name="UrlRoutingModule-4.0" type="MvcKickstart.Infrastructure.Modules.ProfiledUrlRoutingModule, MvcKickstart" />
			<add name="Log4NetContextInformationModule" type="MvcKickstart.Infrastructure.Modules.Log4NetContextInformationModule, MvcKickstart" />
			<add name="CassetteHttpModule" type="Cassette.Aspnet.CassetteHttpModule, Cassette.Aspnet" />
		</modules>
		<handlers>
			<add name="CassetteHttpHandler" path="cassette.axd" preCondition="integratedMode" verb="*" allowPathInfo="true" type="Cassette.Aspnet.CassetteHttpHandler, Cassette.Aspnet" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="dotless.ClientOnly" publicKeyToken="96b446c9e63eae34" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.97.4951.28478" newVersion="4.97.4951.28478" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="protobuf-net" publicKeyToken="257b51d87d2e4d67" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.668" newVersion="2.0.0.668" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Sigil" publicKeyToken="2d06c3494341c8ab" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.0.8.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<log4net>
		<appender name="MetricTrackingAppender_Fatal" type="MvcKickstart.Infrastructure.MetricAppender,MvcKickstart">
			<increment value="Errors.Fatal" />
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="ERROR" />
				<param name="LevelMax" value="FATAL" />
			</filter>
		</appender>
		<appender name="MetricTrackingAppender_Warn" type="MvcKickstart.Infrastructure.MetricAppender,MvcKickstart">
			<increment value="Errors.Warn" />
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="WARN" />
				<param name="LevelMax" value="WARN" />
			</filter>
		</appender>
		<root>
			<appender-ref ref="MetricTrackingAppender_Fatal" />
			<appender-ref ref="MetricTrackingAppender_Warn" />
		</root>
	</log4net>
</configuration>