@model ForgotPassword

@{
	Layout = "_Layout.html.cshtml";
}

<h1>Hi, here's how to reset your password</h1>
<p>You requested your password to be reset for <a href="@Url.Absolute(string.Empty)">@Model.SiteTitle</a>. If you did not make this request, please ignore this email.</p>
<p><strong>To reset your password, just click this <a href="@Url.Absolute(Url.Account().ResetPassword(Model.Token))">link</a>.</strong></p>

<h2>Having trouble?</h2>
<p>If the above link does not work try copying and pasting this link into your browser:</p>
<pre style="font-family: Courier, Georgia, Times New Roman, Times, serif; color: #333; margin: 10px 0 20px; padding: 10px; background: #f7f7f7; font-size: 11.25px; border-left: 2px solid #ccc">@Url.Absolute(Url.Account().ResetPassword(Model.Token))</pre>

<h2>Need more help?</h2>
<p>If you continue to have problems please reply to this email and we'll help you out!</p>
