@model Welcome

@{
	Layout = "_Layout.html.cshtml";
}

<h1>Welcome to @Model.SiteTitle!</h1>

<h3>Your login information:</h3>
<p>Username: @Model.Username</p>
<p>Forgot your password? You can retrieve it from the login page <a href="@Url.Absolute(Url.Account().Login())">@Url.Absolute(Url.Account().Login())</a></p>