@model ForgotPassword

@{
	Bundles.Reference("~/Content/js/_lib/jquery.validate");
}
@section Title{ 
	Forgot Your Password 
}

<h2>Forgot Your Password</h2>

@using(Html.BeginForm()) {
	@Html.ValidationSummary(false)
	
	<div class="form-horizontal">
		<fieldset>
			<p>Use the form below to reset your password.</p>        
			<div class="control-group">
				@Html.LabelFor(x => x.Email, new { @class = "control-label" })
				<div class="controls">
					@Html.EditorFor(x => x.Email)
					@Html.ValidationMessageFor(x => x.Email)
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">Send</button>
			</div>
		</fieldset>
	</div>
}