@model ForgotPassword

@{
	Bundles.Reference("~/Content/js/_lib/jquery.validate");
}
@section Title{ 
	Forgot Your Password 
}

<div class="page-header">
	<h2>Forgot Your Password</h2>
</div>

@using(Html.BeginForm()) {
	@Html.ValidationSummary(false)
	
	<div class="form-horizontal row">
		<fieldset class="col-md-6">
			<p>Use the form below to reset your password.</p>        
			<div class="form-group">
				@Html.LabelFor(x => x.Email, new { @class = "col-md-2 control-label" })
				<div class="col-md-8">
					@Html.TextBoxWithMaxLengthFor(x => x.Email, new { @class = "form-control" })
					@Html.ValidationMessageFor(x => x.Email)
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-2 col-md-8">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</fieldset>
	</div>
}