@section Title {
	Forgot Password Confirmation
}

<div class="page-header">
	<h2>Forgot Password Confirmation</h2>
</div>

<p>An email as been sent to your email address with instructions to reset your password. </p>