@section Title {
	Password Reset
}

<div class="page-header">
	<h2>Password Reset</h2>
</div>

<p>Your password has been successfully changed. <a href="@Url.Account().Login()">Click here to return to the login page</a>.</p>