@model AnalyticsConfig

@using (Html.BeginRouteForm("Admin_Widgets_AnalyticsConfig")) {
	<div class="control-group">
		@Html.LabelFor(x => x.ProfileId)
		<select name="ProfileId" id="ProfileId">
			@foreach (var account in Model.Accounts.OrderBy(x => x.Name)) {
				if (!Model.Profiles.Any(x => x.AccountId == account.Id)) {
					continue;
				}
				<optgroup label="@account.Name">
					@foreach (var profile in Model.Profiles.Where(x => x.AccountId == account.Id).OrderBy(x => x.Name)) {
						<option value="@profile.Id">@profile.Name</option>
					}
				</optgroup>
			}
		</select>
	</div>
	<button type="submit" class="btn">Submit</button>
}